* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background: palegoldenrod;
    font-family: "Courier New", monospace;
}

.maquetacion {
    display: flex;
    flex-flow: column nowrap; /* Porque lo queremos en columna */
}

header {
    background: #2ecbaa;
    display: flex;
    flex-flow: column nowrap;
}

.menuArriba {
    background: #caf729;
    display: flex;
    flex-flow: row nowrap; /* Porque lo queremos en fila */
    align-items: center;
}

.logo {
    background: #79dd7e;
    flex: auto;
}

.logo:hover {
    animation-duration: 0.5s;
    animation-name: logoAnimation;
    cursor: pointer;
    animation-fill-mode: forwards; /* Se queda la animación en ult. estado */
}

.navArriba {
    background: #79dd7e;
    flex: 5 auto; /* .nav más ancho */
}

.social {
    background-color: #79dd7e;
    flex: auto;
}

.banner {
    background: #21b6b6;
}

h1 {
    background: palegreen;
}

section {
    background: #fea611;
    display: flex;
}

.articles {
    background: #ff6f3c;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

article {
    background: #ffff92;
    flex: 1 1 40%;
}

.navAbajo {
    background: #fed251;
    flex: 1 1 100%;
    display: flex;
}

aside {
    background: #e84a5f;
}

.publicidad {
    background: #ffe972;
    flex: 2 1 auto;
    display: flex;
}

footer {
    background: #d0bbf9;
    display: flex;
    justify-content: center;
}

p {
    background: #ffecff;
    flex: 5 1 auto;
    justify-content: center;
}

/* Pantalla Tablet */
@media screen and (max-width: 820px) {
    .menuArriba {
        flex-flow: column nowrap;
    }

    .logo,
    .navArriba,
    .social {
        flex: 1 0 auto;
        width: 100%;
    }

    section {
        flex-flow: column nowrap;
    }

    body {
        background: palegreen;
    }
}

/* Pantalla Mobil */
@media screen and (max-width: 420px) {

    .menuArriba,
    .section,
    .aside,
    .footer {
        flex-flow: column nowrap;
    }

    body {
        background: palevioletred;
    }
}

@keyframes logoAnimation {
    to {
        background: #e84a5f;
        scale: 1.10;
    }
}